@import './color.css';

* {
    min-height: 0;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    animation: unset;
    transition: unset;
    color: @lavender;
    font-size: 0.8rem;
    font-weight: 500;
    font-family:
        Inter Display,
        JetBrainsMono NFP,
        Roboto,
        Helvetica,
        Arial,
        sans-serif;
}

window#waybar {
    background: transparent;
}

window#waybar>box {
    min-height: 1.6rem;
    background-color: @crust;
    border-bottom: 0.08rem solid @surface0;
}

#workspaces {
    background-color: @lavender;
    margin-right: 0.6rem;
}

#workspaces button label {
    color: @crust;
}

#custom-powermenu:hover {
    background: @base;
}

#window label {
    font-weight: 800;
}

#network.downspeed,
#network.upspeed,
#cpu,
#disk,
#memory {
    margin-right: 0.6rem;
}

#tray image {
    margin-right: 0.6rem;
}

menu {
    background-color: @crust;
}

menuitem {
    padding: 0.3rem;
    background-color: @crust;
}

menuitem.title label {
    font-weight: bold;
}

menuitem:hover:not(.title) {
    background-color: @base;
}

#keyboard-state label.locked,
#pulseaudio.icon,
#custom-swayidle,
#bluetooth,
#network {
    margin-right: 0.6rem;
}

#pulseaudio.muted,
#network.disconnected,
#network.disabled,
#bluetooth.no-controller,
#bluetooth.off,
#bluetooth.disabled {
    opacity: 0.4;
}

#custom-battery {
    margin-right: 0.6rem;
}

#custom-battery.warning {
    color: @yellow;
}

#custom-battery.critical {
    color: @red;
}

#custom-battery.plugged {
    opacity: 0.6;
}

@keyframes charging {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

#custom-battery.charging {
    animation: 1.5s linear charging infinite alternate;
}

#clock {
    margin-right: 0.3rem;
}

#custom-notification,
#calendar {
    margin-right: 0.3rem;
}
