@theme "common"

configuration {
    modes: [ combi, drun ];
    markup: true;
    matching: "normal";
    display-drun: '';
    display-calc: '';
    display-emoji: '';
    show-icons: false;
    icon-theme: "Papirus-Dark";
}
