@import './colors.css';

* {
    font-family:
        Inter Display,
        Roboto,
        Helvetica,
        Arial,
        sans-serif;
    color: @lavender;
    font-size: 0.9rem;
    font-weight: 600;
    box-shadow: unset;
    border-radius: 0em;
}

*:hover {
    background-color: unset;
}

#control-center-window .control-center {
    background-color: @crust;
    margin: 0;
    padding: 0.6em;
    border: 0.08em solid @surface0;
    border-bottom: unset;
}

scrollbar,
scrollbar trough,
scrollbar slider {
    background-color: transparent;
    padding: 0.1rem;
    min-width: 0;
}

.notification {
    margin: 0.4rem;
    background-color: @crust;
    border-color: @surface0;
}

.notification .notification-default-action:hover .notification-content {
    background-color: @base;
}

.notification .notification-default-action .notification-content {
    padding: 0.6rem 0.6rem;
}

.notification .notification-default-action .notification-content .image {
    margin-right: 0.6rem;
}

.notification .linked .notification-action:hover {
    background-color: @base;
}

.notification .notification-content .text-box box {
    padding: 0.3rem 0;
}

.notification .notification-content .text-box .body {
    opacity: 0.6;
    font-weight: 400;
}

.widget-title {
    padding-bottom: 1rem;
}

.widget-title > label {
    font-size: 1.6rem;
    font-weight: 600;
}

.widget-title .control-center-clear-all {
    background-color: @base;
    border: 0.08em solid @surface0;
}

.widget-title .control-center-clear-all label {
    font-size: 0.9rem;
}

.widget-title .control-center-clear-all:hover {
    background-color: @lavender;
}

.widget-title .control-center-clear-all:hover label {
    color: @crust;
}

.widget-dnd .control-center-dnd {
    margin: 0;
    padding: 0;
    margin-bottom: 0.6rem;
    color: @base;
    background-color: @base;
    border: 0.08em solid @surface0;
}

.widget-dnd .control-center-dnd slider {
    box-shadow: none;
    background-color: @surface0;
    border-radius: 50%;
}

.widget-dnd .control-center-dnd image {
    color: rgba(0, 0, 0, 0);
}

.widget-dnd .control-center-dnd:checked {
    background: @lavender;
}

.widget-dnd .control-center-dnd:checked slider {
    background: @base;
}

.notification-group box revealer > box {
    background-color: @base;
    padding: 0.8rem 0;
    margin-bottom: 0.2rem;
    border: 0.08em solid @surface0;
}

.notification-group .notification-group-buttons button {
    background-color: @base;
    padding: 0.1rem;
    border: 0.08em solid @surface0;
}

.notification-group .notification-group-buttons button:hover {
    background-color: @surface0;
}

.notification-background {
    padding: 0.1rem 0;
    background-color: transparent;
}

.control-center-list .notification {
    background-color: @base;
}

.control-center .notification {
    margin: 0;
    border-color: @surface0;
}

.control-center .notification .notification-content {
    padding: 0.5rem;
    background-color: @base;
}

.control-center .notification .notification-content #img {
    margin-left: 5rem;
    background-color: red;
}

.control-center
    .notification
    .notification-default-action:hover
    .notification-content {
    background-color: @surface0;
}

.control-center .notification .notification-default-action:hover {
    background-color: @surface0;
}

.control-center .notification .notification-content .text-box box {
    padding: 0.4rem 0;
}

.control-center .notification .notification-content .text-box box .time {
    opacity: 0.4;
    font-size: 0.8rem;
}

.control-center .notification .notification-content .text-box box .summary {
    font-size: 1.2rem;
}

.control-center .notification .notification-content .text-box .body {
    opacity: 0.6;
}

.control-center .notification .linked .notification-action {
    border-color: @surface0;
    background-color: @base;
}

.control-center .notification .linked .notification-action:hover {
    background-color: @surface0;
}
