/.config/fcitx5/conf/cached_layouts
/.config/btop/btop.log
/.config/tmux/plugins
/.config/mpv/watch_later
/.config/gtk-3.0/bookmarks
/.config/qt5ct/colors/
/.config/qt6ct/colors/
/.config/fcitx5/conf/cached_layouts
