/.cache
/.common
/.swaywm
/.personal
/.build

/.config/fcitx5/conf/cached_layouts
/.config/btop/btop.log
/.config/tmux/plugins
/.config/mpv/watch_later
/.config/qt5ct/colors/
/.config/qt6ct/colors/
/.config/fcitx5/conf/cached_layouts

/.config/gtk-3.0/*
!/.config/gtk-3.0/settings.ini
/.config/gtk-4.0/*
!/.config/gtk-4.0/settings.ini
